body{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.h{
    position: absolute;
    background-color: black;
    height: 28vw;
    width: 100vw;
}

.h1{
    position: absolute;
    background-color: rgb(250, 249, 249);
    height: 8vw;
    width: 39vw;
    border: 1px solid rgba(0, 0, 0, .25);
}

.conten{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin-top: 17vw;
    width: 39vw;
    height: 22vw;
    border: 1px solid rgba(0, 0, 0, .25);
}

.img_usuario{
    position: relative;
    background: #fff;
    top: 7%;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, .25);
}

.text_info{
    position: absolute;
    top: 12vw;
}

.info_usuario{
    position: absolute;
    top: 14vw;
}

.animaciones{
    position: absolute;
    width: 20vw;
    height: 3vw;
    top: 17vw;
    border: 1px solid rgba(0, 0, 0, .25);
}

.card_icons{
    position: absolute;
    width: 20vw;
    right: 0vw;
}