body{
    background-image: url(../storage/colombia-colorful-typography-text-banner-600nw-2178635097.webp);
    background-repeat: no-repeat;
    background-size : contain;
}

.filtro {
    display: none;
}

