body {
    font-family: Arial, sans-serif;
    background-image: url(/Dia13/storage/img/illustration-cards-circle-playing-cards-hearts-shape-526184-wallhere.com.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
}

h1 {
    color: #ce4747;
}

#player-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    width: 120px; 
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}

.card img {
    width: 100%; 
    height: auto;
}

#buttons {
    margin-top: 20px;
}

button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: rgb(150, 39, 39);
    color: white;
    border-radius: 4px;
}

button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(127, 29, 29) 0%, rgba(255, 0, 0, 0.781) 100%);
}

button:active {
    transform: translate(0em, 0.2em);
}

select{

    appearance: none; /* remove default appearance set by the browser */
    outline: none; /* remove the outline shown on focus */
    cursor: pointer; /* change the mouse cursor icon */

    color: rgb(254, 254, 254);  /* text color */
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid rgb(86, 1, 1);

    border-radius: 5px;  /* round the border corners */
    padding: 5px 10px;
    width: 200px;
    height: 40px;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.8);

    font-family: serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.select-items {
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


#result {
    margin-top: 20px;
    font-size: 24px;
    color: black; 
}

